---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "vars";
@import "mixins";
@import "reset";
@import "typography";
@import "syntax-highlighting";
@import "animations";
@import "layout";
@import "logo";

/**
 * buttons
 */
.button {
  background: $brand-color;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 0.25em 0.5em;
  position: relative;

  &:before {
    background: $grey-color-light;
    border-radius: 5px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &:hover:before,
  &:active:before{
    animation: pulse .6s ease-out;
  }

  &.secondary {
    background: $brand-color-2;
  }
}

/**
 *  default content animation
 */
.js{

  .page-content{
    margin-top: $spacing-unit;
    opacity: 0;
  }

  .site-footer { opacity: 0; }

  &.loaded{
    .page-content { animation: movein 1s ease-out forwards 0.5s; }
    .site-footer  { animation: fadein 1s ease-out forwards 0.5s; }
    .loader       { animation: remove-loader 0.5s ease-out forwards; }
  }

}

/**
 *  homepage content animation
 */
.home.animate-logo {
  .page-content {
    animation: movein 1.5s ease-out forwards 4s;
    opacity: 0;
  }

  .site-footer {
    animation: fadein 1.5s ease-out forwards 4s;
    margin: 0;
    opacity: 0;
  }

  .loader { display: none; }
}

/**
 * Loading animation
 */
.js {
  .loader {
    width: 80px;
    height: 20px;
    position: relative;
    margin: $spacing-unit*2 auto;

    div {
      height: 20px;
      width: 20px;
      background: $brand-color;
      border-radius: 50%;
      position: absolute;
      animation: loader 1.4s ease infinite;

      &:nth-child(2){
        animation-delay: 0.1s;
        transform: translateX(30px);
      }

      &:nth-child(3){
        animation-delay: 0.2s;
        transform: translateX(60px);
      }
    }
  }
}

/**
 *  post related styles
 */
.post-meta {
  color: $grey-color;
  margin-bottom: 0;

  + h1,
  + h2,
  + h3 {
    margin-top: 0;
  }
}

.post-header .post-meta {text-align: center;}

.post-list{
  list-style: none;
  padding: 0;

  .post-meta{
    display: block;
  }
  .post-snippet h2 {
    margin-top: 0;
  }
}

/**
 * Homepage specific styles
 */
.home {
  .intro,
  hgroup h2 { text-align: center; }
}
