---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// font imports
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);// @import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Esteban);

// Import partials from `sass_dir` (defaults to `_sass`)
@import "vars";
@import "mixins";
@import "reset";
@import "typography";
@import "syntax-highlighting";
@import "animations";
@import "layout";
@import "logo";


/**
 * HTML elements
 */
body {
  color: $text-color;
}

section {
  border-bottom: solid 1px $grey-color;
  border-top: solid 1px $grey-color;
  padding: $spacing-unit 0;

  + section {
    border-top: 0;
  }

  &:last-child { border-bottom: 0; }
}

footer {
  font-size: .875em;

  section { border-bottom: 0; }

  img {
    border: solid 10px $grey-color-light;
    border-radius: 500px;
    float: left;
    margin-bottom: $spacing-unit;
    margin-right: $spacing-unit;
    max-width: 20%;
  }

  p { margin: 0; }
}

a {
  color: $brand-color-2;
  text-decoration: none;
}

/**
 * buttons
 */
.buttons { text-align: center; }
.button {
  background: $brand-color;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 0.25em 0.5em;
  position: relative;

  &:before {
    background: $grey-color-light;
    border-radius: 5px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &:hover:before,
  &:active:before{
    animation: pulse .6s ease-out;
  }

  &.secondary {
    background: $brand-color-2;
  }
}

/**
 *  default content animation
 */
.js{

  .page-content{
    margin-top: 120px;
    opacity: 0;
  }
  .site-footer { opacity: 0; }

  &.loaded{
    .page-content{
      animation: movein 1.5s ease-out forwards 0.5s;
    }
    .site-footer {
      animation: fadein 1.5s ease-out forwards 0.5s;
    }

    .loader{
      animation: fadeout 0.5s ease-out forwards;
    }
  }
}

/**
 *  homepage content animation
 */
.home {
  .page-content {
    animation: movein 1.5s ease-out forwards 3.5s;
    opacity: 0;
  }

  .site-footer {
    animation: fadein 1.5s ease-out forwards 3.5s;
    margin: 0;
    opacity: 0;
  }
}

/**
 * Loading animation
 */
.loader {
  width: 80px;
  height: 20px;
  position: relative;
  margin: 0 auto;

  div {
    height: 20px;
    width: 20px;
    background: $brand-color;
    border-radius: 50%;
    position: absolute;
    animation: loader 1.4s ease infinite;

    &:nth-child(2){
      animation-delay: 0.1s;
      transform: translateX(30px);
    }

    &:nth-child(3){
      animation-delay: 0.2s;
      transform: translateX(60px);
    }
  }
}

/**
 *  post related styles
 */
.post-meta {
  margin-bottom: 0;
  
  + h1,
  + h2,
  + h3 {
    margin-top: 0;
  }
}

.post-list{
  list-style: none;
  padding: 0;

  .post-meta{
    display: block;
  }
  .post-snippet h2 {
    margin-top: 0;
  }
}

/**
 * Homepage specific styles
 */
.home {
  .intro,
  hgroup h2 { text-align: center; }
}
