---
layout: default
title: mattkersley.com
---
<section>
  <hgroup>
    <h1 class="page-heading">Hello!  I’m Matt.</h1>
    <h2>I make websites.</h2>
  </hgroup>
  <div class="intro">
    <p>
      I'm a web designer &amp; developer from Peterborough.<br>
      I‘ll work for <del>referrals</del>, <del>exposure</del>, <del>chocolate</del>, money.
    </p>

    <p>
      <a href="/blog">Read me</a>. &nbsp;<a href="https://twitter.com/kersley">Tweet me</a>. &nbsp;<a href="https://github.com/mattkersley">Fork me</a>.
    </p>
  </div>
</section>
<section class="posts">
  {% for post in site.posts limit:1 %}
    {% include post-meta.html %}
    <h2>{{ post.title }}</h2>
    {{ post.excerpt }}
    <p class="buttons"><a href="{{ post.url | prepend: site.baseurl }}" class="button">read more</a> or <a href="/blog" class="button secondary">visit blog</a></p>
  {% endfor %}
  </ul>
</section>
