/**
 * HTML Elements
 */

* { box-sizing: border-box; }

section {
  border-bottom: solid 1px $grey-color;
  border-top: solid 1px $grey-color;
  padding: $spacing-unit 0;

  + section {
    border-top: 0;
  }

  &:last-child { border-bottom: 0; }
}

img{
  height: auto;
  max-width: 100%;

  &.full,
  &.hang,
  &.left,
  &.right {
    display: block;
    margin-bottom: $spacing-unit;
  }

  &.full {
    width: 100%;
  }
}
@include mq(768px){
  img {

    &.hang {
      margin-left: -10%;
      max-width: 120%;
      width: 120%;
    }

    &.left {
      float: left;
      margin: 0 $spacing-unit $spacing-unit -10%;
      max-width: 40%;
    }

    &.right {
      float: right;
      margin: 0 -10% $spacing-unit $spacing-unit;
      max-width: 10%;
    }

  }
}
@include mq(1024px){
  img {
    .hang {
      margin-left: 15%;
      max-width: 130%;
      width: 130%;
    }

    .left { margin-left: -15%; }

    .right { margin-right: -15%; }
  }
}

@include mq(768px){
  .highlighttable {
    margin-left: -10%;
    width: 120%;
  }
}
@include mq(1024px){
  .highlighttable {
    margin-left: -15%;
    width: 130%;
  }
}


/**
 * Wrappers
 */
.wrapper {
  width: 90vw;
  max-width: 1008px;
  margin: 0 auto;
}
@include mq(768px){
  .wrapper { width: 80vw; }
}
@include mq(1024px){
  .wrapper { width: 70vw; }
}

/**
 * Footer
 */
.site-footer {
  clear:both;
  section { border-bottom: 0; }
  p { margin: 0; }
}
@include mq(500px){
  .site-footer { text-align: left; }
}

.footer-avatar {
  border: solid 10px $grey-color-light;
  border-radius: 500px;
  display: block;
  margin: 0 auto $spacing-unit auto;
}
@include mq(500px){
  .footer-avatar {
    display: inline-block;
    float: left;
    margin: 0 $spacing-unit $spacing-unit 0;
    max-width: 20%;
  }
}
