* { box-sizing: border-box; }

.wrapper {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;
}
@include mq(768px){
  .wrapper { width: 80vw; }
}
@include mq(1024px){
  .wrapper { width: 70vw; }
}


.site-footer {
  margin-top: $spacing-unit*4;
}
