$resize-logo-speed:    0.5s;
$resize-logo-delay:    3.5s;

$lines-opacity:        0.5;
$draw-lines-speed:     1s;
$fade-lines-delay:     2.25s;

$draw-letters-speed:   0.5s;
$draw-letter-m-delay:  2s;
$draw-letter-k-delay:  2.2s;


.logo { display: block; }

svg { display:block; margin: 0 auto; width: 280px; max-width: 80vw; }

#logomark path { fill: $brand-color; }

.home.animate-logo{

  svg {
    width: 100%;
    animation: resize $resize-logo-speed ease forwards $resize-logo-delay;
  }

  /* logomark */
  #logomark #m {
    opacity: 0;
    animation: fadein $draw-letters-speed linear forwards $draw-letter-m-delay;
  }
  #logomark #k {
    opacity: 0;
    animation: fadein $draw-letters-speed linear forwards $draw-letter-k-delay;
  }

  /* lines */
  #lines path {
    stroke: $text-color;
    stroke-width: 0.15%;
    opacity: $lines-opacity;

    &[id^=v]{
      $stroke-dash: 650;
      stroke-dasharray: $stroke-dash;
      stroke-dashoffset: $stroke-dash;
    }

    &[id^=d]{
      $stroke-dash: 800;
      stroke-dasharray: $stroke-dash;
      stroke-dashoffset: $stroke-dash;
    }

    animation:
      drawlines $draw-lines-speed linear forwards,
      fadeout draw-lines-speed linear forwards $fade-lines-delay;
  }

  /* shapes */
  #shapes circle {
    stroke: $text-color;
    stroke-width: 0.3%;
    opacity: $lines-opacity;
  }
  #shapes circle[id*=small],
  #shapes circle[id*=inner]{
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
  }
  #shapes circle[id*=outer]{
    stroke-dasharray: 960;
    stroke-dashoffset: 960;
    animation: drawlines $draw-lines-speed linear forwards;
  }
  #shapes circle,
  #lines path {
    animation:
      drawlines $draw-lines-speed linear forwards,
      fadeout $draw-lines-speed linear forwards $fade-lines-delay;

    &:nth-child(2n) {
      animation:
        drawlines $draw-lines-speed linear forwards $draw-lines-speed,
        fadeout $draw-lines-speed linear forwards $fade-lines-delay;
    }
    &:nth-child(3n) {
      animation:
        drawlines $draw-lines-speed linear forwards .2s,
        fadeout $draw-lines-speed linear forwards $fade-lines-delay;
    }
    &:nth-child(4n) {
      animation:
        drawlines $draw-lines-speed linear forwards .3s,
        fadeout $draw-lines-speed linear forwards $fade-lines-delay;
    }
    &:nth-child(5n) {
      animation:
        drawlines $draw-lines-speed linear forwards .4s,
        fadeout $draw-lines-speed linear forwards $fade-lines-delay;
    }
    &:nth-child(6n) {
      animation:
        drawlines $draw-lines-speed linear forwards .5s,
        fadeout $draw-lines-speed linear forwards $fade-lines-delay;
    }
    &:nth-child(7n) {
      animation:
        drawlines $draw-lines-speed linear forwards .6s,
        fadeout $draw-lines-speed linear forwards $fade-lines-delay;
    }
    &:nth-child(8n) {
      animation:
        drawlines $draw-lines-speed linear forwards .7s,
        fadeout $draw-lines-speed linear forwards $fade-lines-delay;
    }
    &:nth-child(9n) {
      animation:
        drawlines $draw-lines-speed linear forwards .8s,
        fadeout $draw-lines-speed linear forwards $fade-lines-delay;
    }
    &:nth-child(10n) {
      animation:
        drawlines $draw-lines-speed linear forwards .9s,
        fadeout $draw-lines-speed linear forwards $fade-lines-delay;
    }
  }
}
